<h2>Books List</h2>
<ul class="">
	{% for book in bookslist %}
	<li class="postlist-item">
		Title: {{ book.data.title }}<br />

		Started Date: {{ book.data.dateStarted | readableDate }}
		{% if book.data.dateFinished %}<br />Finished Date: {{ book.data.dateFinished | readableDate }}{% endif %}
	</li>
	{% endfor %}
</ul>
