<footer>
	<div class="container">
		<ul class="nav">
		<li>&copy; {{ _ | year }} {{metadata.author.name}}</li>
		<li></li>
		{%- for nav in collections.footnav | reverse -%}
			<li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
				<a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
			</li>
			{%- endfor -%}
			</ul>
			{% include "components/dark-light-switch.njk" %}
	</div>
</footer>
