<footer>
	<div class="container">
		<p><small>&copy; {{ _ | year }} {{metadata.author.name}} <br /> <a rel="me" href="{{ metadata.mastodon.url }}">{{ metadata.mastodon.username}} on Mastodon</a> | <a href="{{ metadata.github.url}}">{{ metadata.github.username}} on Github</a></small></p>
	</div>
</footer>
