<ul class="postlist">
{% for post in postslist | reverse %}
  <li class="postlist-item  {% if post.data.draft %}postlist-item--draft{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">
		{% if post.data.title %}
			{{ post.data.title }}
		{% else %}
			<code>{{ post.url }}</code>
		{% endif %}
	</a> 

	<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>

	{%- if post.data.tags.length > 1 -%}
		<ul class="post-taglist list--plain list--items-inline">
			<li>Tagged:</li>
			{% for tag in post.data.tags %}
				{%- if tag != "posts" -%}
					{% set tagUrl %}/tags/{{ tag }}/{% endset %}
					<li>
						<a href="{{ tagUrl | url }}" class="tag-link">{{ tag }}</a>
					</li> 
				{%- endif -%}
			{% endfor %}
		</ul>
	{%- endif -%}
  </li>
{% endfor %}
</ul>
