---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
templateClass: tmpl-post
---
<h1>andrewhudson.blog</h1>

<p>I'm a front-end developer and here's my eleventy blog. I am based in Oxfordshire and work at Venture Harbour.</p>

<h2>Latest 3 Posts</h2>

{% set postslist = collections.posts | pastPosts | firstNElements(-3) %}
{% include "components/postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
