@import '_variables.css';
@import '_syntax.css';

/* * {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  background-color: $accent-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 90%);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  background: $page-color;

  @media (min-width: $narrow) {
    font-size: 18px;
  };
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;

  @media (min-width: $mid) {
    width: 600px;
  };

  @media (min-width: $wide) {
    width: 700px;
  };
}


h1,
h2,
h3 {
  color: $text-color;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom:0.2em;
  line-height: 1;
}
h1 {
  font-size: 3em;
  margin-top:0.4em;
  margin-bottom:0.2em;
  line-height: 1;

  @media (min-width: $mid) {
    font-size: 5em;
  };
  @media (min-width: $wide) {
    font-size: 6em;
  };
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 5em;
}

ul, ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color, $accent-color, 20%)
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom-color: $text-color;
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style:none;
}

.nav {
  padding-top: 3em;

  li {
    display: inline;
  }

  a:link,
  a:visited {
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: mix($text-color, $accent-color, 40%);
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    width: 9em;
    text-align: left;
    color: mix($text-color, $accent-color, 80%);
    text-decoration: none;
  }
  a:hover,
  a:focus {
      color: $text-color;
      border-top-color: $text-color;
      border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7em;
    color: mix($text-color,$accent-color, 60%);
  }
}


code {
  font-size: 0.8em;
  background-color: mix($text-color,$accent-color, 80%);
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


footer {
  margin-top: 6em;
  padding-top: 4em;
  padding-bottom: 6em;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: mix($text-color, $accent-color, 10%);
  font-size: 0.7em;
  color: mix($text-color, $accent-color, 50%);

  a:link,
  a:visited {
    color: mix($text-color, $accent-color, 90%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-bottom: solid 1px $text-color;
  }
} */


@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/assets/fonts/Inter-roman.var.woff2") format("woff2");
}
/* @font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/assets/fonts/Inter-italic.var.woff2") format("woff2");
} */


:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;


  --link-unvisited: var(--blue);
  --link-visited: var(--navy);
  --color: var(--darkgray);
  --background-color: var(--white);
}

* {
  box-sizing: border-box;
}

[data-user-color-scheme="dark"] {
  --link-unvisited: white;
  --link-visited: white;
  --background-color: black;
  --color: white;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color);
  background-color: var(--background-color);
}


html {
  --var-weight: 400;
  --var-slant: -1.40382;
  --var-letterSpacing: -0.03em;

  font-family: 'Inter var', sans-serif;
  letter-spacing: var(--var-letterSpacing);
  font-variation-settings: 'wght' var(--var-weight);
}

header h1 {
  --var-weight: 700;
  font-variation-settings: 'wght' var(--var-weight);
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}

p,
.tmpl-post li {
  line-height: 1.45;
}

.tmpl-post__content {
	margin-top: 1rem;
}

.tmpl-post__content ul {
	padding-left: 1rem;
}

a[href] {
  color: var(--link-unvisited);
}

a[href]:visited {
  color: var(--link-visited);
}

footer,
main {
  padding: 1rem;
}

main :first-child {
  margin-top: 0;
}

header {
  border-bottom: 1px dashed var(--lightgray);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  /* list-style: none; */
  padding: 0;
}


.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--color);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
  font-weight: 700;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
}

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--color);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}

a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.button {
  margin-left: 3rem;
  margin-top: 0.6rem;
  background-color: var(--color);
  color: var(--background-color);
  border-radius: 0;
  border: 0;
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:focus:hover {
  outline: 0;
}

.button:focus,
.button:hover {
  filter: brightness(1.2);
}

.button:focus:not(:hover) {
  outline: 1px solid var(--color-action-text);
  outline-offset: -4px;
}

.list--inline {
	display: inline-block;
	padding-left: 0;
}

.list--inline li {
	display: inline-block;
}

.post-taglist-label {
	margin-top: 2em;
	display: inline-block;
	padding-right: 0.25em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
