{% include "components/head.njk" %}
  <body {% if templateClass %} class="{{ templateClass }}"{% endif %}>
    {% include "components/header.njk" %}

    <main>
      <div class="container">
        {{ content | safe }}
      </div>
    </main>

    {% include "components/footer.njk" %}

	{% include "components/notification.njk" %}

    <script>
      {% include "../../assets/js/theme-toggle.js" %}
    </script>

	{% if build.env !== 'production' %}
        <script src="{{ '/js/offline.js' | url }}" async defer></script>
        {% endif %}
  </body>
</html>
