{% include "components/head.njk" %}
  <body {% if templateClass %} class="{{ templateClass }}"{% endif %}>
    {% include "components/header.njk" %}

    <main>
      <div class="container">
        {{ content | safe }}
      </div>
    </main>

    {% include "components/footer.njk" %}

	{% include "components/notification.njk" %}

    <script src="/assets/js/theme-toggle.js" async defer></script>
	<script src="/assets/js/instant-page.5.1.0.js" async defer></script>
  </body>
</html>
