{% include "components/head.njk" %}
<body {% if templateClass %} class="{{ templateClass }}" {% endif %}>


  {% include "components/header.njk" %}

  <main>
      {{ content | safe }}
  </main>

  {% include "components/footer.njk" %}

  {% include "components/background.html" %}
</body>
</html>
