{% include "components/head.njk" %}
<body {% if templateClass %} class="{{ templateClass }}" {% endif %}>
  {% include "components/header.njk" %}

  <main>
    <div class="container">
      {{ content | safe }}
    </div>
  </main>

  {% include "components/footer.njk" %}

  {% include "components/notification.njk" %}

  {% set js %}
  {% include '../../assets/js/theme-toggle.js' %}
  {% endset %}

  <script>
    {{ js | jsmin | safe }}
  </script>

</body>
</html>