---
layout: layouts/base.njk
templateClass: tmpl-post
themeColor: "#3454D1"
---
<article>
<h1 class="post-title">{{ title }}</h1>

<div class="post-inner">
	{% if date %}
		<p>Posted on: <time class="postlist-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>
	{% endif %}

	<div class="post-content">
		{{ content | safe }}
	</div>

	{%- if tags.length > 1 -%}
		<p class="post-taglist-label">Tagged: </p>
		<ul class="post-taglist list--inline">
			{% for tag in tags %}
				{%- if tag != "posts" -%}
					{% set tagUrl %}/tags/{{ tag }}/{% endset %}
					<li>
						<a href="{{ tagUrl | url }}" class="tag-link">{{ tag }}</a>
					</li>
				{%- endif -%}
			{% endfor %}
		</ul>
	{%- endif -%}

</div>

<p>
	<a href="{{ '/' | url }}">← Home</a>
</p>
</article>