---
layout: layouts/base.njk
templateClass: tmpl-post
themeColor: "#3454D1"
---
<article>
<h1 class="post-title">{{ title }}</h1>

<div class="post-inner">
	{% if date %}
		<p>Posted on: <time class="postlist-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>
	{% endif %}

	<div class="post-content">
		{{ content | safe }}
	</div>
	
	{% include "components/taglist.njk" %}

</div>

<p>
	<a href="{{ '/' | url }}">← Home</a>
</p>
</article>