:root {
	--red: #ffa600;
	--darkred: #7f0036;
	--lightgray: #e0e0e0;
	--gray: #c0c0c0;
	--darkgray: #333;
	--navy: #17050f;
	--blue: #082840;
	--white: #fff;
	--link-unvisited: var(--blue);
	--link-visited: var(--navy);
	--color: var(--darkgray);
	--background-color: var(--white);
	--body-font-family: Piazzolla, serif;
	--transition-duration: 300ms;
	--transition-method: ease-in-out;
	--font-weight: 400;
}

* {
	box-sizing: border-box;
}

[data-user-color-scheme='dark'] {
	--link-unvisited: white;
	--link-visited: white;
	--background-color: black;
	--color: white;
}

html,
body {
	padding: 0;
	margin: 0;
	color: var(--color);
	background-color: var(--background-color);
	font-family: var(--body-font-family);
	transition: background var(--transition-duration) var(--transition-method),
		color var(--transition-duration) var(--transition-method);
}

h1,
h2,
h3 {
	--font-weight: 900;
}

h1 {
	font-size: 50px;
	margin-bottom: 0.4em;
	margin-top: 0;
}

* {
	font-variation-settings: 'wght'var(--font-weight);
}

html {
	font-family: --body-font-family;
	font-size: 120%;
}

p:last-child {
	margin-bottom: 0;
}

p,
.tmpl-post li,
img {
	max-width: 37.5em;
}

p,
.tmpl-post li {
	line-height: 1.45;
}

.tmpl-post__content {
	margin-top: 1rem;
}

.tmpl-post li,
.tmpl-post__content li {
	margin-bottom: 0.5rem;
}

ul {
	margin-left: 1.5rem;
	padding-left: 0;
}

li p {
	margin-bottom: 0;
}

strong {
	--font-weight: 800;
	font-weight: bold;
}

[href] {
	color: var(--link-unvisited);
}

[href]:visited {
	color: var(--link-visited);
}

footer,
main {
	padding: 1rem 0;
}

main :first-child {
	margin-top: 0;
}

.nav {
	border-bottom: 1px solid var(--lightgray);
	transition: border-bottom var(--transition-duration) var(--transition-method);
}

pre,
code {
	font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono',
		'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
		'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L',
		'Courier New', Courier, monospace;
	line-height: 1.5;
}

pre {
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	tab-size: 2;
	hyphens: none;
	padding: 1em;
	margin: 0.5em 0;
	background-color: #f6f6f6;
}

.home {
	margin: 1rem 0;
	font-size: 1em;
	display: inline-block;
	--font-weight: 900;
}

.home :link:not(:hover) {
	text-decoration: none;
}

.nav {
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav li {
	display: inline-block;
	margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
	text-decoration: none;
}

.nav-item-active {
	font-weight: 700;
	text-decoration: underline;
}

.postlist {
	margin-left: 0;
	list-style: none;
}

.postlist a {
	--font-weight: 700;
	font-size: 150%;
	display: block;
}

.postlist li {
	margin-bottom: 1rem;
}

.postlist-date {
	color: var(--color);
	margin-bottom: 0.5em;
	display: block;
}

p .postlist-date {
	display: inline-block;

}

.postlist-link {
	display: inline-block;
	padding: 0.25em 0.1875em;
	font-weight: 700;
}

.postlist-item-active .postlist-link {
	font-weight: bold;
}

a[href].direct-link,
a[href].direct-link:visited {
	color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover>a[href].direct-link,
:hover>a[href].direct-link:visited {
	color: #aaa;
}

.tag {
	display: inline-block;
	vertical-align: text-top;
	text-transform: uppercase;
	font-size: 0.625em;
	padding: 0.1em 0.5em;
	background-color: var(--color);
	border-radius: 0.25em;
	text-decoration: none;
	--font-weight: 777;
	letter-spacing: 1ch;
	padding-right: 0;
	border: 2px solid var(--color);
	color: var(--background-color);
	transition: border-color var(--transition-duration) var(--transition-method),
		background-color var(--transition-duration) var(--transition-method),
		color var(--transition-duration) var(--transition-method);
}
.tag:hover {
	border-color: var(--color);
	background: var(--background-color);
	color: var(--color);
}

.tag:visited {
	color: var(--background-color);
}

.tag:visited:hover {
	color: var(--color);
	background: var(--background-color)
}

.warning {
	background-color: #ffc;
	padding: 1em 0.625em;
}

.warning ol:only-child {
	margin: 0;
}

.direct-link {
	font-family: sans-serif;
	text-decoration: none;
	font-style: normal;
	margin-left: 0.1em;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.button {
	background-color: var(--color);
	color: var(--background-color);
	border-radius: 0;
	border: 0;
	padding: 0.5rem 1rem;
	appearance: none;
}

.button:focus:hover {
	outline: 0;
}

.button:focus,
.button:hover {
	filter: brightness(1.2);
}

.button:focus:not(:hover) {
	outline: 1px solid var(--color-action-text);
	outline-offset: -4px;
}

.list--inline {
	display: inline-block;
	padding-left: 0;
}

.list--inline li {
	display: inline-block;
}

.post-taglist {
	margin: 0;
}

.post-taglist-label {
	margin-top: 3em;
	margin-bottom: 0.5em;
}

.container {
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 1em;
}

.page-selector {
	margin: 3rem 0 0 0.5rem;
}

.page-pagination {
	border: 1px solid black;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.page-total {
	margin: 0 1rem;
}

footer {
	margin-top: 3em;
}

footer .nav {
	border-bottom: 0;
	display: inline-block;
}

theme-toggle {
	display: inline-block;

}
