@layer book {
	.month-title {
		font-size: var(--step-1);
	}

	.month {
		border: 1px solid;
		padding: 1rem;
		margin-block: 2rem;
	}

	.books {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 1rem;
	}

	.book {
		padding: 0.5rem;
		border-radius: 0.5rem;
		border: 1px solid;
		background: var(--theme-color);
		color: white;
		/* sub-grid? */
	}

	.book h3 {
		font-size: var(--step-1);
		margin-block: 1rem;
	}

	.book img {
		max-width: 100%;
	}

	.book p {
		font-size: var(--step--1);
		margin-block: 0.25rem 0.5rem;
	}

	/* .book:has(img) {
		grid-template-columns: max-content 1fr;
		column-gap: 1em;
	}

	.book:has(img) img {
		order: -1;
	}

	.book:not(.book--finished) {
		border-color: rosybrown;
	}

	.book--finished {
		border-color: greenyellow;
	} */
}
