@layer book {
	.month {
		--border-radius: 0.5rem;
	}
	.month-title {
		margin-block-start: 0.5rem;
		font-size: var(--step-1);
	}

	.month {
		border: 1px solid;
		padding: 1rem;
		margin-block: 2rem;
		border-radius: var(--border-radius);
		background: rgb(255 255 255 / 0.75);
	}

	.books {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 1rem;
	}

	.book {
		background: var(--theme-color);
		color: white;

		border: 1px solid;
		padding: 0.5rem;
		padding-top: 0;
		border-radius: var(--border-radius);

		/* Make four columns of auto size */
		display: grid;
		grid-row: auto / span 4;
		grid-template-rows: subgrid;
		/* sub-grid! */
		gap: 0;

		:where(p, h3) {
			margin-block-start: 0;
			margin-block-end: 1rem;
		}

		& h3 {
			margin-block-start: 0.5rem;
		}

		& img {
			@media (width > 600px) {
				align-self: end;
				justify-self: stretch;
				aspect-ratio: 215 / 321;
			}
		}
	}

	.book h3 {
		font-size: var(--step-1);
		margin-block: 1rem;
	}

	.book img {
		max-width: 100%;
	}

	.book p {
		font-size: var(--step--1);
		margin-block: 0.25rem 0.5rem;
	}

	/* .book:has(img) {
		grid-template-columns: max-content 1fr;
		column-gap: 1em;
	}

	.book:has(img) img {
		order: -1;
	}

	.book:not(.book--finished) {
		border-color: rosybrown;
	}

	.book--finished {
		border-color: greenyellow;
	} */
}
