@layer cv {
	.content {
		margin-top: 4rem;
	}

	.cv h2 {
		margin-top: 0.5em;
		border-bottom: 2px solid var(--theme-color);
		margin-bottom: 0;
		display: inline-block;
	}

	.cv h1 + h2 {
		margin-top: 0;
	}

	/* .cv h3 {
		font-size: 24px;
	} */

	.cv :is(h2 + h3) {
		margin-top: 0;
	}

	main ul {
		margin-block: 2rem;
		padding-inline-start: 1.25rem;
	}

	ol {
		margin-inline-start: 2rem;
	}

	li {
		margin-block-end: 0.25rem;
	}

	.contact {
		margin-block-end: 1rem;
	}

	.contact a {
		display: inline-block;
		margin-right: 1em;
	}

	.cv article a {
		text-decoration: underline;
	}

	.entrylist {
		position: relative;
		list-style: none;
		margin-block-end: 3em;
	}

	.entry__header {
		display: flex;
		flex-direction: column;
	}

	.entry__time {
		order: -1;
	}

	.entry__time span {
		display: inline-block;
		margin-inline-start: 0.25rem;
	}

	/* .entry__organization,
	.entry__time {
		font-size: 0.9rem;
	} */

	.entry__title {
		margin-block: 0.5rem;
	}

	.entry__organization {
		margin-block-end: 1rem;
		margin-block-start: 0;
	}

	.entrylist::after {
		content: '';
		display: block;
		height: calc(100% - 3rem);
		width: 1px;
		background: black;
		position: absolute;
		left: -4px;
		top: 3rem;
	}

	.entrylist > li {
		position: relative;
		margin-block-end: 1.5rem;
	}

	.entrylist > li::after {
		content: '';
		display: block;
		border-radius: 50%;
		background: var(--theme-color);
		width: 20px;
		aspect-ratio: 1;
		position: absolute;
		top: 2rem;
		left: -34px;
		z-index: 1;
	}

	.entry__content ul {
		padding-inline-start: 1.2rem;
		list-style: disc;
	}

	.cv li::marker {
		color: var(--theme-color);
		font-size: 1.5rem;
	}
}
