---
layout: layouts/base.njk
tags:
  - nav
navtitle: Bookshelf
templateClass: tmpl-post
date: 2016-03-02
title: Bookshelf
themeColor: 'lab(36 10.54 -63.15)'
---

<h1>Bookshelf</h1>

<p>This is a work-in-progress page that is pulling in data from my Notion books database. The content and design of this page will change.</p>

<p>Inspiration for this page is:</p>

<ul>
	<li><a href="https://daverupert.com/bookshelf/">daverupert.com/bookshelf</a></li>
	<li><a href="https://hidde.blog/books/">hidde.blog/books</a></li>
</ul>

{% Book months=notion %}
