---
layout: layouts/base.njk
navtitle: Home
templateClass: tmpl-post homepage
title: Homepage
---

<h1>hi, I'm Andrew. Welcome to my site</h1>

<p>I am a software engineer living in the UK who loves cycling, running and spending time with my family and learning new things.</p>

<h2>Posts</h2>
{% set postslist = collections.posts | reverse | firstNElements(3) | reverse %}
{% include "components/postslist.njk" %}

<h2>Weeknotes</h2>
{% set postslist = collections.weeknotes | reverse | firstNElements(3) | reverse %}
{% include "components/postslist.njk" %}