---
layout: layouts/base.njk  
navtitle: Home
templateClass: tmpl-post homepage
title: Homepage
themeColor: "lab(81 23.61 108.45)"
---
 
<h1>hi, I'm Andrew. Welcome to my site</h1>

<p>I am a senior software engineer living in the UK who loves cycling, running and spending time with my family and learning new things.</p>


<h2>Posts</h2>
{% set postslist = collections.posts | reverse | firstNElements(10) | reverse %}
{% include "components/postslist.njk" %}
