---
layout: layouts/base.njk
tags:
  - nav
navtitle: Notes
templateClass: tmpl-post
date: 2014-03-02
title: Notes
themeColor: 'lab(36 10.54 -63.15)'
---

<h1>Notes</h1>

<div style="padding: 1.5rem; border: 5px dotted var(--theme-color); background: white">
    <p style="margin: 0; max-width: unset;">This is a current work in progress page. I am using a modified version <a href="https://github.com/xdesro/posse-with-11ty"  target="_blank">Henry Desroches' Posse
    with 11ty repo</a> to be able to post content from <a href="https://quill.p3k.io" target="_blank">quill.p3k.io</a> save to the
    <a href="https://github.com/bigandy/11ty-site" target="_blank">github.com/bigandy/11ty-site github repository</a> and then publish here. Then with brid.gy the post will be posted to my Mastodon <a href="https://indieweb.social/@bigandy"></a>. Webmentions are added (if there are any) also via brid.gy at build-time.</p>
</div>
    
    <section>
        <ul style="border-top: 3px solid; margin-top: 3rem; list-style: none; padding-left: 0">
        {% for note in collections.notes | reverse %}
        <li class="h-entry" style="border-bottom: 3px solid; max-width: unset; padding-inline: 2rem; padding-bottom:1rem">
            <div class="e-content">{{ note.content | safe }}</div>
            <a class="u-url" href="{{ note.url }}">Permalink</a>

            {% if note.data.categories %}
            <div>
                <p style="display: inline-block; margin-bottom:0"><strong>Categories: </strong></p>
                <ul class="p-category  list--inline" style="margin-right: 1rem">
                    {% for category in note.data.categories %}
                        <li>{{ category }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <p>Posted on:<time class="dt-published" datetime="{{ note.date }}">{{ note.date }}</time></p>
        </li>
        {% endfor %}
    </ul>
    </section>
</body>

</html>