---
layout: layouts/page.njk
title: Now
tags:
    - nav
navtitle: Now
templateClass: tmpl-post
date: 2017-01-01
themeColor: 'lab(74 41.82 104.32)'


nowUpdated: '13-05-2025'
---

<p><small>Last updated: <time>{{ nowUpdated }}</time></small></p>

<h2>I am Currently Doing this:</h2>

Trying to figure out what the hell to do with my life.

<h2>Living</h2>

<p>In August, 2024 we up sticks and left our lifes in Wallingford, moving to the capital of the French Alps in Grenoble, France.</p>

<p>The kids are in an international school, Marion has a job (one of the reasons we moved here) and I am on the hunt for a new job after my UK-based company were enable to work for them from France (French tax laws are a known nightmare).</p>

<p>Autumn is here and the leaves are turning a beautiful range of colours in our shared garden. This week the temperatures are supposed to be mid-high twenties and the mosquitos are still out in force whenever the temperature is above 18<sup>&deg;</sup>C. Very different from what it would be like in UK in mid-October.</p>
