---
layout: layouts/page.njk
title: Reading
tags:
    - footnav
navtitle: Reading
date: 2020-01-11
---

<p>I <a href="https://daverupert.com/2020/10/a-trip-to-the-bookstore/">read this</a> and thought this blog would be a place to keep track of my reading. Started on 25.10.2020.</p>

{% set bookslist = collections.books %}

{% include "components/bookslist.njk" %}

<h2>People's Book Reading Lists:</h2>

<ul>
	<li><a href="https://www.linkedin.com/feed/update/urn:li:activity:6619917445366890496/">https://www.linkedin.com/feed/update/urn:li:activity:6619917445366890496/</a></li>
	<li><a href="https://daverupert.com/2019/06/books-on-management/">Books on Management</a></li>
</ul>



