{% include "components/head.njk" %}
  <body>
    {% include "components/header.njk" %}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}

    <script>
      {% include "../..//assets/js/theme-toggle.js" %}
    </script>
  </body>
</html>
