{% include "components/head.njk" %}
  <body>
    {% include "components/header.njk" %}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <div class="container">
        {{ content | safe }}
      </div>
    </main>

    {% include "components/footer.njk" %}

    <script>
      {% include "../../assets/js/theme-toggle.js" %}
    </script>
  </body>
</html>
