---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<div class="tmpl-post__inner">
	{% if date %}
  		<time class="postlist-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
	{% endif %}


	<div class="tmpl-post__content">
		{{ content | safe }}
	</div>
</div>

<p><a href="{{ '/' | url }}">← Home</a></p>
