---
layout: layouts/home.njk
tags:
  - nav
navtitle: Archive
permalink: /archive/
templateClass: tmpl-post
date: 2018-01-02
---

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
