.cv {
	h2 {
		margin-top: 1.5em;
		margin-bottom: 0;
		border-bottom: 2px solid green;
		display: inline-block;
	}

	ul:not(.nav) {
		margin-left: 1.5em;
	}
}

@media print {
	.cv {
		header,
		footer {
			display: none;
		}

		h2 {
			border-bottom-color: inherit;
		}

		ul.skills {
			margin-left: 1rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			li {
				padding-right: 1rem;
			}
		}
	}


}
