.cv {
	h2 {
		margin-top: 1.5em;
		margin-bottom: 0;
		border-bottom: 2px solid green;
		display: inline-block;
	}

	ul:not(.nav) {
		margin-left: 1.5em;
	}
}

@media print {
	.cv {
		header,
		footer {
			display: none;
		}

		h2 {
			border-bottom-color: inherit;
			margin-top: 1rem;
		}

		ul.skills {
			margin-left: 1rem;
		}

		.grid {
			display: grid;
			grid-template-columns: repeat(var(--grid-number, 1), 1fr);

			&--halfs {
				--grid-number: 2;
			}

			&--thirds {
				--grid-number: 3;
			}

			li {
				padding-right: 1.5rem;
			}
		}

		ul {
			&:last-child {
				margin-bottom: 0;
		   }
		}

		main {
			padding-bottom: 0;
		}
	}
}
